//
   Created by supersoup on 16/8/6.

div(ms-controller="pl")
   .field-box
      .field-row
         .field-title c1(输入框)
         .field-content
            input(type="text", ms-duplex="condition.c1")
      .field-row
         .field-title c2(多选框列表)
         .field-content
            ul(ms-widget="checkboxlist", data-checkboxlist-duplex="condition.c2")
               li
                  input(type="checkbox", value="1")
                  span.label 一
               li
                  input(type="checkbox", value="2")
                  span.label 二
               li
                  input(type="checkbox", value="3")
                  span.label 三
      .field-row
         .field-title c3(勾选)
         .field-content
            input(type="checkbox", ms-duplex-checked="condition.c3")
      .field-row
         .field-title c4(数字选择器)
         .field-content
            input(ms-widget="spinner", ms-duplex="condition.c4")
      .field-row
         .field-title c5(时间)
         .field-content
            input(ms-widget="datepicker", data-datepicker-change-month-and-year="true", ms-duplex="condition.c5")
      .field-row
         .field-title c6(下拉框)
         .field-content
            select(ms-widget="dropdown", data-dropdown-$source="c6LIst", ms-duplex="condition.c6")
               option(ms-repeat="c6LIst", ms-attr-value="el.value") {{el.label}}
      .field-row
         .field-title c7（文件上传）
         .field-content
            div(ms-widget="fileuploader, $, $uploader")
      .field-row
         a(ms-click="getResult1") 点击进行操作1
         a(ms-click="getResult2") 点击进行操作2
